.menu-icons {
  width: 1.5vw;
  height: 1.5vw;
}
.nav-fixed-top{
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
}
.card .read-more:hover{
    font-size: 14px;
}
.card:hover{
    box-shadow: 8px 8px 8px blue;
    background-color: #ffc107;
    color: white;
    transform:scale(1.2);
}
.card{
  height:200px;
  width:200px;
  transition:.5s;
  margin: 3rem;
}
header.header {
  background: #3F51B5;
  height: 48vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-text {
    font-size: 36px;
}
.h-menu {
height: 6em;
}
.line-h {
line-height: 0.9;
}
.ul-menu li a {
    font-size: 20px;
    margin-left: 5px;
}
.parag{
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}
span.reserve {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
.hovereffect {
    /*  width: 100%;
      height: 100%;*/
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;
    }
    
    .hovereffect .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: #0d122f94;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    
    .hovereffect:hover .overlay {
      background-color: rgba(48, 152, 157, 0.4);
    }
    
    .hovereffect img {
      display: block;
      position: relative;
    }
    
    .hovereffect h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(24, 33, 55, 0.73);
      -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
      transform: translateY(45px);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    
    .hovereffect:hover h2 {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
    }
    
    .hovereffect a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      font-weight: normal;
      margin: -52px 0 0 0;
      padding: 10px 50px 25px 50px;
      height: 80%;
    }
    
    .hovereffect:hover a.info {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    
    .hovereffect a.info:hover {
      box-shadow: 0 0 5px #fff;
    }